Base:
    model_root: './checkpoints/'
    num_workers: 3
    verbose: 1
    early_stop_patience: 2
    pickle_feature_encoder: True
    save_best_only: True
    eval_steps: null
    debug_mode: False
    group_id: null
    use_features: null
    feature_specs: null
    feature_config: null

APG_SharedBottom_test:
    model: APG_SharedBottom
    dataset_id: all_seeds_processed
    loss: 
        - name: FocalLoss
          params: {gamma: 2.0, alpha: 0.25}
        - name: FocalLoss
          params: {gamma: 2.0, alpha: 0.25}
    metrics: [AUC, KS, recall, precision, f1]
    task: [binary_classification, binary_classification]
    num_tasks: 2
    optimizer: adam
    learning_rate: 1.e-3
    embedding_regularizer: 1.e-8
    net_regularizer: 0
    batch_size: 128
    embedding_dim: 4
    bottom_hidden_units: [64, 64]
    tower_hidden_units: [32, 32]
    hidden_activations: relu
    net_dropout: 0
    batch_norm: False
    epochs: 1
    shuffle: True
    seed: 2019
    monitor: AUC
    monitor_mode: max
    verbose: 1

    # APG specific
    condition_mode: "group-wise" # self-wise, group-wise, mix-wise
    condition_features: ['product'] # required if not self-wise
    rank_k: 16
    overparam_p: 64
    hypernet_config: 
        hidden_units: [32]
        hidden_activations: relu
